# ============================================================
# Unreal Engine
# ============================================================

# Cartelle generate automaticamente.
# Le regole valgono anche nelle sottocartelle e nei plugin.
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# File generati dalla compilazione
*.pdb
*.exp
*.ilk
*.iobj
*.ipdb

# Log e file temporanei
*.log
*.tmp
*.cache

# ============================================================
# Visual Studio e IDE
# ============================================================

.vs/
.vscode/
.idea/

*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.user
*.userprefs

# ============================================================
# File di compilazione C/C++
# ============================================================

*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# ============================================================
# Xcode
# ============================================================

*.xcodeproj
*.xcworkspace

# ============================================================
# Sistema operativo
# ============================================================

.DS_Store
Thumbs.db
Desktop.ini

# ============================================================
# FMOD
# ============================================================
!Plugins/FMODStudio/Binaries/
!Plugins/FMODStudio/Binaries/**
FMODProject/.cache/
FMODProject/.user/
FMODProject/Build/

Plugins/FMODStudio/Docs/

Plugins/FMODStudio/Binaries/Win64/UnrealEditor-*
Plugins/FMODStudio/Binaries/Win64/*.pdb
Plugins/FMODStudio/Binaries/Win64/*.modules